
<div class="container">
  <div class="row">

    <div class="col-md-9 mx-auto">
      
      <h2>会員登録ページ</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-row">

          <div class="field form-group col-6">
            <%= f.label :last_name_roman, "* 姓（カタカナ）"  %><br />
            <%= f.text_field :last_name_roman, autocomplete: "last_name_roman", placeholder:"ヤマダ", class:"col-md-10" %>
          </div>
          <div class="field form-group col-6">
            <%= f.label :first_name_roman, "* 名（カタカナ）" %><br />
            <%= f.text_field :first_name_roman, autocomplete: "first_name_roman", placeholder:"タロウ", class:"col-md-10" %>
          </div>

          <div class="field form-group col-6">
            <%= f.label :last_name, "* 姓（漢字）" %><br />
            <%= f.text_field :last_name, autocomplete: "last_name", placeholder:"山田", class:"col-md-10" %>
          </div>
          <div class="field form-group col-6">
            <%= f.label  :first_name, "* 名（漢字）" %><br />
            <%= f.text_field :first_name, autocomplete: "first_name", placeholder:"太郎", class:"col-md-10" %>
          </div>

          <div class="field form-group col-6">
            <%= f.label :sex, "* 性別"  %><br />
            <%= f.select :sex, ['男', '女'], {include_blank: '選択してください'}, autocomplete: "sex", class:"col-md-10" %>
          </div>

          <div class="field form-group col-6">
            <%= f.label :birth_date, "* 生年月日" %><br />
            <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 0), default: Date.new(1990, 1, 1), class:"col-md-6" %>
          </div>

          <div class="field form-group col-12">
            <%= f.label :email, "* メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter email", class:"col-md-4" %>
          </div>

          <div class="field form-group col-6">
            <%= f.label :password, "* パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password", class:"col-md-10" %>
          </div>

          <div class="field form-group col-6">
            <%= f.label :password_confirmation, "* パスワードの再入力" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password", class:"col-md-10" %>
          </div>

          <div class="actions form-group">
            <%= f.submit "登録する", class:"btn btn-info" %>
          </div>

        </div>

      <% end %>


      <%= render "devise/shared/links" %>


    </div>
    
  </div>
</div>