<div class="mx-5">
    <div class="row">

        <div class="col my-4 p-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

        <h3>登録情報</h3>

            <div class="row mx-auto">
                <div class="col p-4">
                    <h5>基本情報</h5>
                    <div class="pl-4 pb-2">
                        <p><%= @user.last_name %>　<%= @user.first_name %>　（<%= @user.last_name_roman %>　<%= @user.first_name_roman %>）</p>
                        <p><%= @user.sex %></p>
                        <p><%= @user.birth_date %></p>
                        <p>郵便番号</p>
                        <p>住所</p>
                        <p>電話番号</p>
                    </div>

                    <h5>メールアドレス情報</h5>
                    <div class="pl-4 pb-2">
                        <p><%= @user.email %></p>
                    </div>
                </div>
            </div>



        <%= link_to "登録情報を編集する", edit_user_registration_path %>

        </div>

    </div>
</div>