
<div class="container border my-3">
    <div class="m-4">
        <div class="row mb-3">
            <div class="mt-1">
                <h3>商品カテゴリ一覧</h3>
            </div>
            <div class="mx-auto"></div>
            <div class="mr-3">
                <%= link_to "カテゴリの追加", new_admins_category_path, class:"btn btn-info" %>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>カテゴリ名</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @categories.each do |category| %>
                            <tr>
                                <td><%= category.id %></td>
                                <td><%= category.category_name %></td>
                                <td><%= link_to "編集", edit_admins_category_path(category.id), class:"btn-sm btn-success" %></td>
                                <td><%= link_to "削除", admins_category_path(category.id), class:"btn-sm btn-danger", method:"delete", data:{ confirm: "本当に削除しますか？" } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mt-4">
                <%= paginate @categories %>
            </div>
        </div>
    </div>
</div>