<%= render 'layouts/adminsheader' %>

<div class="container">
    <div class="row">

        <div class="col">

            <h1>商品入力ページ</h1>

            <% if @product.errors.any? %>
                <div id="error_explanation" style="color: red">
                    <h3><%= @product.errors.count%> errors prohibited this obj from being saved:</h3>
                    <ul>
                        <% @product.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>


            <%= form_for @product do |f| %>
                <div class="field form-group col-6">
                    <%= f.label :name, "商品名" %><br>
                    <%= f.text_field :name, autocomplete: "name", placeholder:"くさや", class:"col-md-10" %>
                </div>

                <div class="field form-group col-6">    
                    <%= f.label :product_image, "商品写真" %>
                    <%= f.attachment_field :product_image %>
                </div>

                <div class="field form-group col-6">
                    <%= f.label :price, "価格" %><br>
                    <%= f.text_field :price, autocomplete: "price", placeholder:"1000",  class:"col-5" %> 円
                </div>

                <div class="field form-group col-6">
                    <%= f.label :explanation, "商品説明（200文字以内）" %><br>
                    <%= f.text_area :explanation, autocomplete: "explanation", placeholder:"美味しいくさやだよ",  class:"col-md-10" %>
                </div>

                <div class="field form-group col-6">
                    <%= f.label :stock, "ストック数" %><br>
                    <%= f.text_field :stock, autocomplete: "stock", placeholder:"100",  class:"col-5" %> 個
                </div>
                <div class="actions form-group">
                    <%= f.submit "登録する", class:"btn btn-myh" %>
                </div>
            <% end %>
            <br>
            <p><%= link_to 'Show', products_path %> | <%= link_to 'Back', products_path %></p>

        </div>

    </div>
</div>