<div class="mx-5">
    <div class="row">

        <%= render 'layouts/search' %>


        <div class="col-lg my-4 p-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

            <h4><%= notice %></h4>

            <div class="row mx-auto">
                <% @products.each do |product| %>

                    <div class="m-4 p-5 border" style="background-color: #fffffe; border-radius: 10px;">

                        <%= link_to product_path(product.id) do %>
                            <%= attachment_image_tag @product, :product_image, :fill, 60, 60, class: "", fallback: "no-image.jpg", size:'200x200' %>
                        <% end %><br>

                        <%= link_to product_path(product.id) do %>
                            <p style="color: #2d334a;"><%= product.name %></p>
                        <% end %>

                        <%= product.price %> 円<br>

                        <%= link_to "商品の詳細をみる", product_path(product.id), class:"btn btn-myh" %>

                    </div>
                <% end %>
            </div>

        </div>

    </div>
</div>
