<div class="mx-5">
    <div class="row">

        <%= render 'layouts/search' %>

        <div class="col-lg my-4 p-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

            <div class="row p-4">
                <div class="" style="background-color: #fffffe;">
                    <%= attachment_image_tag @product, :product_image, :fill, 350, 350, class: "", fallback: "no-image.jpg", size:'350x350' %>
                </div>

                <div class="col-md-5 p-3">
                    <h2><%= @product.name %></h2>

                    価格
                    <h4><%= @product.price %> 円</h4>

                    <div id="favorite_<%= @product.id %>">
                        <%= render 'favorites/favorite', product: @product %>
                    </div>

                    <%= form_for(@cart_item, url: add_item_path) do |f| %>
                        <%= f.select :quantity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {include_blank: '0'} %>個
                        <%= f.submit "カートに追加する", class:"btn btn-myh" %>
                    <% end %>


                </div>
            </div>
            <div class="row mx-auto">
                <div class="col px-2">
                        商品の説明<br>
                        <p><%= @product.explanation %></p>

                </div>
            </div>

        </div>




    </div>
</div>
