<div class="mx-5">
    <div class="row">

        <%= render 'layouts/search' %>

        <div class="col-lg my-4 p-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

            <div class="row mx-auto">
                <div class="col-lg" style="background-color: #fffffe;">
                    <%= attachment_image_tag @product, :product_image, :fill, 60, 60, class: "", fallback: "no-image.jpg", size:'350x350' %>
                </div>

                <div class="col-lg-7 p-2">
                        <h2><%= @product.name %></h2>

                        価格
                        <h4><%= @product.price %> 円</h4>

                        商品の説明<br>
                        <p><%= @product.explanation %></p>



                            個数
                            カートに商品を追加するボタンを作成する。
                            <%# <p><%= link_to "カートに追加する", add_item_path, method: :post, class:"btn btn-myh" %><p> %>
                            <%# <p><%= button_to "カートに追加する", add_item_path(product_id: [:product_id]), class:"btn btn-myh" %><p>
                            <%# <%= form_for  add_item_path, method: :POST do %> %>
                                <%# <%= selelct_tag quantity, %> %>
                                <%# <%= submit_tag "カートに追加する" %> %>
                            <%# <% end %> %>
                     %>

                    <% if admin_signed_in? %>
                        <%= link_to "編集", edit_product_path(@product.id), class:"btn btn-success" %>
                    <% end %>
                </div>

            </div>
        </div>




    </div>
</div>
