        
        
<div class="col-lg-2 mr-lg-4 my-4 py-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">
    
    <div class="search-form">
        <h6>商品検索</h6>
            <%= form_with url: search_products_path, method: :get, local: true do |f| %>
                <%= f.text_field :name, placeholder:"", class:"col-12" %>
                <%= f.button :type => 'submit', class:'btn btn-sm btn-myh col-12' do %><i class="fas fa-search"></i><% end %>
            <% end %>
    </div>

    <div class="mt-4"></div>
    
    <div class="search-form">
        <h6>カテゴリ検索</h6>
            <%= form_with url: search_products_path, method: :get, local: true do |f| %>
                <%= f.select :category, ['島のお酒', '島の食べ物', '島のドリンク', '島のフルーツ' ,'島のおすすめ'], {include_blank: "カテゴリ"}, class:"col-12" %>
                <%= f.button :type => 'submit', class:'btn btn-sm btn-myh col-12' do %><i class="fas fa-search"></i><% end %>
            <% end %>

    </div>

    <div class="mt-4"></div>
    
    <div class="search-form">
        <h6>ソート</h6>
            価格が安い順・価格が高い順・人気順・新着順

    </div>


</div>

