<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #bae8e8;">
    <%# ロゴ %>
    <%= link_to "八丈島のオンラインショップ", root_path, class:"navbar-brand"%>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <%= link_to "ホーム", root_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
            <%= link_to "商品一覧", products_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "マイページ", user_path(current_user.id), class:"dropdown-item" %>
                <%= link_to "パスワード変更", root_path, class:"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "サインアウト", destroy_user_session_path, method: 'DELETE', class:"dropdown-item" %>
            </div>
            </li>
        </ul>
        </div>
    <% else %>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <%= link_to "ホーム", root_path, class:"nav-link"%>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ログイン / 会員登録 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "ログイン", new_user_session_path, class:"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "会員登録", new_user_registration_path, class:"dropdown-item" %>
            </div>
            </li>
        </ul>
        </div>
    <% end %>


    </nav>
</header>